$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 40px;
$size-xl: 56px;

:root {
  --dt-ref-size-small:0.5rem;
  --dt-ref-size-medium: 1rem;
  --dt-ref-size-large: 2rem;
  --dt-ref-size-xs-l: #{clamped($size-xs,$size-l)};
  --dt-ref-size-s-l:#{clamped($size-s,$size-l)};
  --dt-ref-size-m-l:#{clamped($size-m,$size-l)};

  --dt-ref-size-unit:8px;

  --dt-sys-border-rad-large:var(--dt-ref-size-medium); 
  --dt-sys-border-rad-normal: var(--dt-ref-size-small);
  --dt-sys-border-rad-small: calc(var(--dt-ref-size-unit)/2);

  --dt-sys-size-xs:calc(var(--dt-ref-size-unit)*0.75);
  --dt-sys-size-s:var(--dt-ref-size-unit); 
  --dt-sys-size-m:calc(var(--dt-ref-size-unit) * 3);
  --dt-sys-size-l:calc(var(--dt-ref-size-unit) * 6);

  --dt-sys-main-spacing:var(--dt-sys-size-m);

  --dt-sys-size-icon-large:calc(var(--dt-ref-size-medium)* 2);

  --dt-sys-shadow-double-light:0px 0px 0px 2px var(--dt-ref-clr-grey-1000), 0px 0px 0px 4px var(--dt-ref-clr-grey-800);
  --dt-sys-shadow-subtle:0px 2px 10px rgba(0,0,0,0.15), 0px 1px 5px rgba(0,0,0,0.15);
  --dt-sys-shadow-default: 1px 2px 6px rgba(0,0,0,0.18),0 0 1px 1px rgba(0,0,0,0.05);
  
  --dt-sys-shadow-card:0px 0px 3px rgba(0, 0, 0, 0.15), 0px 6px 15px rgba(0, 0, 0, 0.1);
}